{% extends "base.html" %}
{% load static %}
{% block title %}
  Lobby Page
{% endblock title %}
{% block player %}
  <div id="player-container">{% include "players/partials/player_container.html" %}</div>
{% endblock player %}
{% block navbar %}
  <div class="container d-none">
    <ul class="nav nav-tabs" id="tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if characters|length > 0 %}active{% endif %}"
           id="characters-tab"
           data-bs-toggle="tab"
           href="#character-list"
           role="tab"
           aria-controls="character-list"
           aria-selected="true">Characters</a>
      </li>
      {% if player.role == "DM" or player.role == "PA" %}
        <li class="nav-item" role="presentation">
          <a class="nav-link {% if characters|length == 0 %}active{% endif %}"
             id="add-characters-tab"
             data-bs-toggle="tab"
             href="#add-characters"
             role="tab"
             aria-controls="add-characters"
             aria-selected="false">Add Characters</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock navbar %}
{% block content %}
  {% include "floating_buttons.html" with player=player.player role=player.role %}
  <div class="container mt-4">
    {% comment %} <div id="sse-connection" hx-ws="connect:/ws/lobby/{{ player.lobby.code }}/"></div> {% endcomment %}
    <!-- Tab Content -->
    <div class="tab-content" id="tabs-content">
      <div class="tab-pane fade {% if characters|length > 0 %}show active{% endif %}"
           id="character-list"
           role="tabpanel"
           aria-labelledby="characters-tab"
           hx-get="{% url 'character_list_partial' player.id %}"
           hx-trigger="every 10s"
           hx-swap="innerHTML">{% include "players/partials/character_list.html" %}</div>
      <div class="tab-pane fade {% if characters|length == 0 %}show active{% endif %}"
           id="add-characters"
           role="tabpanel"
           aria-labelledby="add-characters-tab">{% include "players/partials/add_character.html" %}</div>
    </div>
  </div>
  <div id="char-modal-container" class="modal-container"></div>
  <div id="statblock-modal-container" class="modal-container"></div>
  <div id="player-modal-container" class="modal-container"></div>
  <div id="lobby-modal-container" class="modal-container"></div>
  <div id="debuff-modal-container" class="modal-container"></div>
{% endblock content %}
