{% extends "base.html" %}
{% load static %}
{% block title %}
  Lobby Page
{% endblock title %}
{% block player %}
  <div id="player-container">{% include "players/partials/player_container.html" %}</div>
{% endblock player %}
{% block navbar %}
  <form id="join-lobby-{{ player_lobby.lobby.code }}-form"
        action="{% url 'join_lobby' %}"
        class="d-none"
        method="get">
    {% csrf_token %}
    <input type="hidden"
           id="player-hidden"
           name="player"
           value="{{ player_lobby.player.name }}">
    <input type="hidden"
           id="code-hidden"
           name="code"
           value="{{ player_lobby.lobby.code }}">
  </form>
  <div class="container d-none">
    <ul class="nav nav-tabs" id="tabs" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if characters|length > 0 %}active{% endif %}"
           id="characters-tab"
           data-bs-toggle="tab"
           href="#character-list"
           role="tab"
           aria-controls="character-list"
           aria-selected="true">Characters</a>
      </li>
      {% if player_lobby.role == "DM" or player_lobby.role == "PA" %}
        <li class="nav-item" role="presentation">
          <a class="nav-link {% if characters|length == 0 %}active{% endif %}"
             id="add-characters-tab"
             data-bs-toggle="tab"
             href="#add-characters"
             role="tab"
             aria-controls="add-characters"
             aria-selected="false">Add Characters</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock navbar %}
{% block left_side %}
  {% include "floating_buttons_left.html" with player=player_lobby.player role=player_lobby.role position='lobby' %}
{% endblock left_side %}
{% block right_side %}
  {% include "floating_buttons_right.html" with player=player_lobby.player role=player_lobby.role position='lobby' %}
{% endblock right_side %}
{% block content %}
  <div id="lobby-container"
       data-lobby-id="{{ player_lobby.lobby.id }}"
       data-lobby-code="{{ player_lobby.lobby.code }}"
       class="container-fluid mt-4 mb-3 px-5 tab-container">
    {% comment %} <div id="sse-connection" hx-ws="connect:/ws/lobby/{{ player_lobby.lobby.code }}/"></div> {% endcomment %}
    <!-- Tab Content -->
    <div class="tab-content w-100 h-100" id="tabs-content">
      <div class="tab-pane fade w-100 h-100 {% if characters|length > 0 %}show active{% endif %}"
           id="character-list"
           role="tabpanel"
           aria-labelledby="characters-tab"
           hx-get="{% url 'character_list_partial' player_lobby.id %}"
           hx-trigger="refresh from:body"
           hx-swap="innerHTML">{% include "players/partials/character_list.html" %}</div>
      <div class="tab-pane fade  w-100 h-100 {% if characters|length == 0 %}show active{% endif %}"
           id="add-characters"
           role="tabpanel"
           aria-labelledby="add-characters-tab">{% include "players/partials/add_character.html" %}</div>
    </div>
  </div>
  <div id="char-modal-container" class="modal-container"></div>
  <div id="statblock-modal-container" class="modal-container"></div>
  <div id="player-modal-container" class="modal-container"></div>
  <div id="upload-modal-container" class="modal-container"></div>
  <div id="lobby-modal-container" class="modal-container"></div>
  <div id="debuff-modal-container" class="modal-container"></div>
  <script src="{% static 'js/socket.js' %}"></script>
{% endblock content %}
{% block footer %}
  {% if player_lobby.lobby.notes %}
    <div id="footer"
         class="row d-flex flex-column justify-content-center align-items-center text-center">
      <div id="lobby_notes" class="footer">{{ player_lobby.lobby.notes|default:"" }}</div>
    </div>
  {% endif %}
{% endblock footer %}
