{% extends "base.html" %}
{% block title %}
  Lobby Page
{% endblock title %}
{% block content %}
  <form id="player_connect"
        class="mb-4 w-100"
        style="max-width: 400px"
        action="{% url 'player_connect' %}"
        method="post">
    {% csrf_token %}
    <div class="mb-3">
      <label for="player" class="form-label">Player's Name</label>
      <input type="text"
             class="form-control"
             id="player"
             name="player"
             placeholder="Enter your name"
             required>
    </div>
    <button type="submit" class="btn btn-primary w-100">Login</button>
  </form>

  <script>
    const playerInput = document.getElementById('player');
    const form = document.getElementById('player_connect');

    const savedPlayer = localStorage.getItem('player');
    if (savedPlayer) {
      playerInput.value = savedPlayer;

      // Optional: auto-submit the form for auto-login
      // form.submit();
    }

    form.addEventListener('submit', () => {
      localStorage.setItem('player', playerInput.value);
    });
  </script>
{% endblock content %}
