{% load static %}
<div class="mb-3 gap-3"
     id="lobby-container"
     data-player-id="{{ player.id }}"
     data-character-list-url="{% url 'character_list_partial' player.id %}"
     data-move-character-url="{% url 'move_character' %}"
     data-csrf-token="{{ csrf_token }}">
  <h2>Characters in Lobby: {{ player.lobby }}</h2>
  {% if player.role == "DM" %}
    <form class="btn btn-info edit-character open-modal"
          hx-get="{% url 'load_lobby_edit_modal' player.id %}"
          hx-target="#lobby-modal-container"
          data-modal-id="editLobbyModal"
          hx-swap="innerHTML">
      <button type="submit" class="btn btn-info edit-character">
        <i class="bi bi-pencil"></i>
      </button>
    </form>
    <form class="btn btn-info edit-character"
          hx-get="{% url 'reload_current_turn' player.id %}"
          hx-target="#character-list"
          hx-swap="innerHTML"
          onclick="confirmClick(event)">
      <button type="submit" class="btn btn-info edit-character">
        <i class="bi bi-arrow-clockwise"></i>
      </button>
    </form>
  {% endif %}
  {% if player.role == "DM" or player.role == "PA" %}
    <form class="btn btn-info edit-character"
          hx-post="{% url 'pass_turn' %}"
          hx-target="#character-list"
          hx-swap="innerHTML"
          onclick="confirmClick(event)">
      {% csrf_token %}
      <input type="hidden"
             name="player_lobby_id"
             id="player_lobby_id"
             value="{{ player.id }}">
      <button type="submit" class="btn btn-info edit-character">
        <i class="bi bi-check-lg"></i>
      </button>
    </form>
  {% endif %}
</div>
<script src="{% static 'js/reactions.js' %}"></script>
<ul id="characters" class="list-group">
  {% for character in characters %}
    <li class="list-group-item character-row {% if character.invisible and player.role != "DM" %} d-none {% else %} d-flex {% endif %} justify-content-center align-items-center gap-3 w-100 {% if character.current_turn == True %}current_turn{% endif %} {% if character.next_turn.id == character.id %}next_turn{% endif %}  {% if character.invisible %}is-invisible{% endif %}"
        data-id="{{ character.id }}">
      <div class="drag-handle d-flex align-items-center justify-content-center col-8">
        <span style="pointer-events: auto;">
          <div class="d-flex align-items-center justify-content-center gap-1">{{ character }}</div>
          <div class="d-flex align-items-center justify-content-center gap-1">
            <span>
              Initiative: {{ character.initiative }}
              {% if character.invisible %}(Invisible){% endif %}
            </span>
            -
            <button {% if player.role == "DM" or player.role == "PA" or player.id == character.player.id %} onclick="changeReactions({{ character.current_reactions }},{{ character.id }}, '{{ player.role }}')"{% else %} style="pointer-events:none"{% endif %}
                    class="btn btn-sm longpress-handle icon-with-number reactions-{% if character.current_reactions == character.max_reactions %}max {% elif character.current_reactions == 0 %}empty {% else %}used{% endif %}">
              <i class="bi bi-arrow-counterclockwise"></i>
              <span class="number">{{ character.current_reactions }}</span>
            </button>
          </div>
          {% if character.debuff %}
            <div style="pointer-events: auto;
                         color:red;
                         font-weight:bold"
                  class="d-flex align-items-center justify-content-center gap-1">{{ character.debuff }}</div>
          {% endif %}
        </span>
      </div>
      <div id="buttons"
           class="col-4 d-flex align-items-center justify-content-center gap-3">
        <input type="hidden"
               name="reminder"
               id="reminder"
               value="{{ character.reminder|default:"" }}">
        <form class="debuff-character open-modal"
              data-modal-id="debuffCharacterModal"
              hx-get="{% url 'load_debuff_modal' player.id character.id %}"
              hx-target="#char-modal-container"
              hx-swap="innerHTML">
          {% csrf_token %}
          {% if character.debuff %}
            <button type="submit" class="btn danger">
              <i class="bi bi-droplet"></i>
            </button>
          {% else %}
            <button type="submit" class="btn btn-success">
              <i class="bi bi-droplet-fill"></i>
            </button>
          {% endif %}
        </form>
        {% if player.role == "DM" or player.role == "PA" or player.id == character.player.id %}
          <button class="btn btn-sm btn-info edit-character  open-modal"
                  data-modal-id="editCharacterModal"
                  hx-get="{% url 'load_char_edit_modal' player.id character.id %}"
                  hx-target="#char-modal-container"
                  hx-swap="innerHTML">
            <i class="bi bi-pencil"></i>
          </button>
        {% endif %}
        {% if character.stat_block %}
          {% if player.role == "DM" or player.id == character.player.id %}
            <button class="btn btn-sm btn-info stat-block show-spinner   open-modal"
                    data-modal-id="creatureModal"
                    hx-get="{% url 'load_stat_block_modal' character.id %}"
                    hx-target="#statblock-modal-container"
                    hx-swap="innerHTML">
              <i class="bi bi-info-circle"></i>
            </button>
          {% endif %}
        {% endif %}
      </div>
    </li>
  {% endfor %}
</ul>
{% if player.role == "DM" or player.role == "PA" %}
  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.0/Sortable.min.js"></script>
  <script src="{% static 'js/draggable.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/draggable.css' %}">
{% endif %}
