{% extends "base.html" %}
{% block title %}
  Lobby Page
{% endblock title %}
{% block player %}
  <h2>{{ player.name }}</h2>
{% endblock player %}
{% block navbar %}
  <div class="container">
    <!-- Navigation Pills -->
    <ul class="nav nav-tabs" id="pills-tab" role="tablist">
      <li class="nav-item" role="presentation">
        <a class="nav-link {% if characters|length > 0 %}active{% endif %}"
           id="characters-tab"
           data-bs-toggle="pill"
           href="#characters"
           role="tab"
           aria-controls="characters"
           aria-selected="true">Characters</a>
      </li>
      {% if player.role == "DM" or player.role == "PA" %}
        <li class="nav-item" role="presentation">
          <a class="nav-link {% if characters|length == 0 %}active{% endif %}"
             id="add-character-tab"
             data-bs-toggle="pill"
             href="#add-character"
             role="tab"
             aria-controls="add-character"
             aria-selected="false">Add characters</a>
        </li>
      {% endif %}
    </ul>
  </div>
{% endblock navbar %}
{% block content %}
  <div class="container mt-4 ">
    <div id="sse-connection"
         hx-ws="connect:/ws/lobby/{{ player.lobby.code }}/"></div>
    <!-- Tab Content -->
    <div class="tab-content" id="pills-tabContent">
      <div class="tab-pane fade {% if characters|length > 0 %}show active{% endif %}"
           id="characters"
           role="tabpanel"
           aria-labelledby="characters-tab">
        <h2 class="mb-3">Characters in Lobby {{ player.lobby.code }}</h2>
        <ul id="character-list"
            class="list-group"
            style="max-width: 400px"
            hx-get="{% url 'character_list_partial' player.lobby.code %}"
            hx-trigger="character_update from:#sse-connection"
            hx-swap="innerHTML">
          {% include "players/partials/character_list.html" %}
        </ul>
      </div>
      <div class="tab-pane fade {% if characters|length == 0 %}show active{% endif %}"
           id="add-characters"
           role="tabpanel"
           aria-labelledby="add-characters-tab">{% include "players/partials/add_character.html" %}</div>
    </div>
  </div>
  <!-- Simple HTML5 Drag & Drop for reordering -->
  <script>
  document.getElementById('sse-connection').addEventListener('character_update', function(evt) {
    console.log("Received character_update event", evt);
  });
  </script>
{% endblock content %}
