{% if spellcastingEntries %}
  <hr>
  <h3>Spellcasting</h3>
  <div class="accordion mb-3" id="accordion-spellcasting">
    {% for entry in spellcastingEntries %}
      <div class="accordion-item">
        <h2 class="accordion-header" id="heading-{{ entry.name|slugify }}">
          <button class="accordion-button collapsed {{ template }}-coloring"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapse-{{ entry.name|slugify }}"
                  aria-expanded="false"
                  aria-controls="collapse-{{ entry.name|slugify }}">
            {{ entry.name }} (DC {{ entry.dc|add:skill_offset }}, Bonus +{{ entry.bonus|add:skill_offset }})
          </button>
        </h2>
        <div id="collapse-{{ entry.name|slugify }}"
             class="accordion-collapse collapse"
             aria-labelledby="heading-{{ entry.name|slugify }}"
             data-bs-parent="#accordion-spellcasting">
          <div class="accordion-body">
            <div class="scrollable-list">
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.cantrips title="Cantrips" default_level=entry.autoHeightenLevel %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv1spells title="1st Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv2spells title="2nd Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv3spells title="3rd Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv4spells title="4th Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv5spells title="5th Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv6spells title="6th Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv7spells title="7th Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv8spells title="8th Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv9spells title="9th Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.lv10spells title="10th Level Spells" %}
              {% include "players/partials/stat_block/spells_by_level.html" with spells=entry.rituals title="Rituals" %}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endif %}
