{% load creature_template_filter %}
{% if creature.strikes %}
  <div class="accordion mb-3" id="accordion-strikes">
    <div class="accordion-item">
      <h2 class="accordion-header" id="heading-strikes">
        <button class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapse-strikes"
                aria-expanded="false"
                aria-controls="collapse-strikes">Strikes</button>
      </h2>
      <div id="collapse-strikes"
           class="accordion-collapse collapse"
           aria-labelledby="heading-strikes"
           data-bs-parent="#accordion-strikes">
        <div class="accordion-body">
          <div class="scrollable-list">
            <ul class="list-group list-group-flush">
              {% for strike in creature.strikes %}
                <div>
                  <strong>{{ strike.name }}</strong> ({{ strike.type }}, <span class="{{ template }}-coloring">+{{ strike.bonus|add:skill_offset }}</span>, {{ strike.traits|join:", " }})
                  —
                  {% for dmg in strike.damageRolls %}
                    {{ dmg.roll }}
                    {% if skill_offset != 0 %}<span class="{{ template }}-coloring">+{{ skill_offset }}</span>{% endif %}
                    {{ dmg.type|title }}
                    {% if not forloop.last %},{% endif %}
                    {% if strike.effects %}and{% endif %}
                  {% endfor %}
                  {% if strike.effects %}   {{ strike.effects|join:", "|replace_dash|title}} {% endif %}
                </div>
                {{strike.traits|trait_interactions|safe}}
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}
