<div id="left-top-buttons" class="row-6">
    {% if position == "lobby" %}
        {% if role == "DM" %}
            <!-- Reload Turn -->
            <form hx-get="{% url 'reload_current_turn' player.id %}"
                  hx-target="#character-list"
                  hx-swap="innerHTML"
                  onclick="confirmClick(event, 'Reload initiative order?')">
                {% csrf_token %}
                <button type="submit" class="btn btn-info shadow fab-btn ">
                    <i class="bi bi-arrow-repeat"></i>
                    <span class="tooltip-text tooltip-right">Reload initiative</span>
                </button>
            </form>
            <form hx-get="{% url 'reload_current_turn' player.id %}?previous_order=1"
                  hx-target="#character-list"
                  hx-swap="innerHTML"
                  onclick="confirmClick(event, 'Go to previous initiative order?')">
                {% csrf_token %}
                <button type="submit" class="btn btn-info shadow fab-btn ">
                    <i class="bi bi-arrow-counterclockwise"></i>
                    <span class="tooltip-text tooltip-right">Go to previous order</span>
                </button>
            </form>
        {% endif %}
    {% endif %}
</div>
