{% if position == "lobby" %}
    {% if role == "DM" or role == "PA" %}
        <!-- Pass Turn -->
        <form class="position-fixed"
              style="top: 140px;
                     right: 20px;
                     z-index: 1030"
              hx-post="{% url 'pass_turn' %}"
              hx-target="#character-list"
              hx-swap="innerHTML"
              onclick="confirmClick(event)">
            {% csrf_token %}
            <input type="hidden" name="player_lobby_id" value="{{ player.id }}">
            <button type="submit" class="btn btn-info rounded-circle shadow">
                <i class="bi bi-check-lg"></i>
            </button>
        </form>
    {% endif %}
    {% if role == "DM" %}
        <!-- Reload Turn -->
        <form class="position-fixed"
              style="top: 80px;
                     right: 20px;
                     z-index: 1030"
              hx-get="{% url 'reload_current_turn' player.id %}"
              hx-target="#character-list"
              hx-swap="innerHTML"
              onclick="confirmClick(event)">
            <button type="submit" class="btn btn-info rounded-circle shadow">
                <i class="bi bi-arrow-clockwise"></i>
            </button>
        </form>
        <!-- Edit Lobby -->
        <form class="position-fixed edit-character open-modal"
              style="top: 20px;
                     right: 20px;
                     z-index: 1030"
              hx-get="{% url 'load_lobby_edit_modal' player.id %}"
              hx-target="#lobby-modal-container"
              data-modal-id="editLobbyModal"
              hx-swap="innerHTML">
            <button type="submit" class="btn btn-info rounded-circle shadow">
                <i class="bi bi-pencil"></i>
            </button>
        </form>
    {% endif %}
{% endif %}
{% comment %} CHANGE TAB {% endcomment %}
{% if role == "DM" or role == "PA" %}
    <button class="btn btn-success rounded-circle position-fixed"
            style="bottom: 80px;
                   right: 20px;
                   z-index: 1030"
            type="button"
            id="switch-tab-btn">
        <i class="bi bi-arrow-repeat"></i>
    </button>
{% endif %}
{% comment %} SIDE MENU {% endcomment %}
<button class="btn btn-success rounded-circle position-fixed"
        style="bottom: 20px;
               right: 20px;
               z-index: 1030"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#sideMenu"
        aria-controls="sideMenu">
    <i class="bi bi-list"></i>
</button>
<div class="offcanvas offcanvas-end"
     tabindex="-1"
     id="sideMenu"
     aria-labelledby="sideMenuLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="sideMenuLabel">Options</h5>
        <button type="button"
                class="btn-close"
                data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group">
            <li class="list-group-item">{% include "players/partials/side_menu/dark_mode_toggle.html" %}</li>
            <li class="list-group-item">{% include "players/partials/side_menu/to_lobbies.html" %}</li>
            <li class="list-group-item">{% include "players/partials/side_menu/logout.html" %}</li>
        </ul>
    </div>
</div>
